* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

.pag_servicio {
    background-color: $principalcolor;
    width: 100%;
    color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

body {
    overflow-x: hidden;
    width: 100%;

}

.div-separacion {
    background-color: $principalcolor;
    height: 30px;
    width: 100%;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

@media screen and (max-width: 576px) {

    h1,
    {
    font-size: 25px;
}

h2,
{
font-size: 100%;
}

h3 {
    font-size: 100%;
}
}