.divservice {

    width: map-get($mi-mapa, valor_width);
    object-fit: cover;

    p {
        text-align: center;
    }

    img {

        height: 200px;
        width: map-get($mi-mapa, valor_widthimg);
    }
}

.divservice1 {
    width: map-get($mi-mapa, valor_width);

    p {
        text-align: center;
    }

    img {
        height: map-get($mi-mapa, valor_heightimg);
        width: map-get($mi-mapa, valor_widthimg);
    }
}

.divservice2 {
    width: map-get($mi-mapa, valor_width);

    div {
        padding: 20px;
    }

    img {
        height: map-get($mi-mapa, valor_heightimg);
        width: map-get($mi-mapa, valor_widthimg);
    }
}

.div_serv {
    display: none;
}

.img_hileras {
    object-fit: center;
}

@media screen and (max-width: 576px) {
    .pagservicios {

        display: none;

    }

    .img_hileras {

        width: 100%;
    }

    .div_serv {
        height: 300px;
        background-image: url(../images/pag1/hilera.jpg);
        background-size: cover;
        display: block;
    }

    .pag_servicio {
        display: none;
    }

}